<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
    <hibernate-configuration>
        <session-factory>
            <property name="hbm2ddl.auto">update</property>
             <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
             
              <property name="connection.url">jdbc:mysql://localhost:3306/hiber</property>

       
        <property name="connection.username">root</property>

        <!-- Database connection password -->
        <property name="connection.password">1234</property>

        <!-- Database connection driver class -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <!-- Mapping file for Hibernate -->
        <mapping class="com.hibernate.CRUD.CRUD.Student"/>
        </session-factory>
    </hibernate-configuration>